<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<!-- a SessionFactory instance listed as /jndi/name -->
	<session-factory>
		<!-- properties -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:C:\Users\rpau\jug</property>
		<property name="connection.username">sa</property>		
		<property name="hbm2ddl.auto">create-drop</property>
		<property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
		<mapping class="org.walkmod.jug.model.User"/>	
		<mapping class="org.walkmod.jug.model.Tweet"/>
	</session-factory>
	

</hibernate-configuration>

